#Backend
SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/dfine_oms
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

#Frontend
VITE_API_BASE_URL=http://localhost:8080/api/v1
VITE_APP_NAME="D'fine Clothing Store OMS"
